/* src/markdownStyles.css */

.markdown-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.markdown-content h3 {
  font-size: 1.17em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content strong {
  font-weight: bold;
}

.markdown-content em {
  font-style: italic;
}

.markdown-content ul, .markdown-content ol {
  margin-bottom: 1em;
  padding-left: 2em;
}

.markdown-content li {
  margin-bottom: 0.5em;
}